build/
build-vcpkg/
node_modules/
vcpkg_installed/
externals/
.project
.svn/
ln/
.cproject
.vscode/
.eclcc/
!esp/src/.vscode
eclcc.log
*.pyc
./helm/examples/azure/sa/env-sa
./dockerfiles/platform-build-incremental/hpcc.gitpatch
dockerfiles/platform-build-incremental/hpcc.gitpatch
.gitignore
helm/managed/logging/elastic/Chart.lock
helm/managed/logging/elastic/charts/*
